body {
    padding: 0px;
    margin: 0px;
}

.status-bar {
    width: 100%;
    background-color: #ffe;
    padding: 5px;
}

.menu {
    margin: 5px;
}

.chapter {
    margin: 5px;
}


.strip {
    display: block; 
}
.strip-header {
    color: black;
    background-color: #aaf;
    text-align: center;
}

.strip .strip-header,
.strip .pile {
    float: left;
    height: 3.5em;
    margin: 10px 10px 60px 10px;
    padding: 0.5em;

    border-radius: 5px;
}

.strip .ui-selecting {
    background-color: silver;
}
.strip .ui-selected {
    background-color: gray;
}

.strip-header {
}

.pile {
    color: black;
    background-color: #ffa;
    white-space: nowrap;
}

.pile .source {
    background-color: #fea;
    white-space: nowrap;
    padding: 0.1em;
}
.pile .target {
    background-color: #efa;
    white-space: nowrap;
    padding: 0.1em;

    margin-top: 1em;
}
